.wrapper {
  min-height: rem(400px);
  background-image: linear-gradient(
    180deg,
    var(--mantine-color-white) 0%,
    var(--mantine-color-gray-1) 100%
  );
  border-radius: var(--mantine-radius-md);
  padding: calc(var(--mantine-spacing-xl) * 2.5);


  @media (max-width: $mantine-breakpoint-sm) {
    padding: calc(var(--mantine-spacing-xl) * 1.5);
  }

  display: flex;
  justify-content: center;
  align-items: center;
}
