# Runtime data
pids
*.pid
*.seed
*.pid.lock

#terraform 
.terraform/

# Dependency directories
node_modules/

# builds
build/

#scripts
scripts/

#apply assets
src/apply_assets/

#env
*.env

#secrets
secrets/

#migrations
deployment/
ormConfig.ts
